.card_cadastro_consultoria{
    height: 460px;
    margin-top: 50px;
    
    & h2{
        text-align: center;
        margin-bottom: 60px;
    }
}
.container_input{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    
}
.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form_group label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form_group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.input_nome{
    width: 450px;
}
.input_idade{
    width: 60px;
}
.input_data_nascimento{
    width: 150px;
}
.input_rua{
    width: 350px;
}
.input_complemento{
    width: 140px;
}
.input_numero{
    width: 80px;
}
.input_cidade{
    width: 230px;
}
.input_estado{
    width: 50px;
}
.input_solicitante{
    width: 350px;
}
.input_unidade_saude{
    width: 230px;
}

.input_equipe{
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container_btn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn_salvar{

    width: 250px;
    height: 35px;
    background-color: var(--cor-primaria);
    border-style: none;
    color: var(--cor-branca);
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
        background-color: var(--cor-secundaria);
    }
}